<p id="notice"><%= notice %></p>
<div class = "col-md-8 col-md-offset-2">
<center><h1>QUIZ MASTER</h1></center>
  <thead>
    Quiz Master Content
  </thead>
  <ul>
    <li> <a href = "add-questions">Add Question</a></li>
    <li> <a href = "take-quiz">Take Quiz</a></li>
  </ul>  
<br>
</div>
